@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro;
    background-color: #1d566b;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

html {
	overflow-x: hidden;
}

label {
	width: 117px;
	heigh: 74px;
	display:block;
	
}



.inform_elements{
	position: absolute;
	left:121px;
	top:582px;
	
}


.plus{
	position: absolute;
	left: 358px;
	top:591px;
}

.minus{
	position: absolute;
	left: 192px;
	top:591px;
}

.sound_ctrl{
	position: absolute;
	opacity: 0;
	top:8px;
	left: 80px;
	transition: opacity 2s ease-in-out;
}


.goodluck{
	position: absolute;
	top:583px;
	left:560px;
	align-content: center;
}

.spin{
	position: absolute;
	left: 1222px;
	top: 524px;
}

.spin_image{
	position: absolute;
	left: 42px;
	top: 46px;
	transition: all 1s ease-in-out;
}

.spin_im{
	position: absolute;
	left: 1265px;
	top: 570px;
	transition: all 1s ease-in-out;
}

#spin_stop {
	position: absolute;
	left: 52px;
	top: 49px;
}





.turbo{
position: absolute;	
left: 1001px;
top: 593px;
z-index: 1;
}

input[type="checkbox"] {visibility: hidden;}

input[type="checkbox"] + span {
	position: absolute;
	margin-top: 585px;
	margin-left: 996px;
	left: 0; top: 0;
	width: 6%; height: 27%;
	background: url("../images/turbo_box_green.png") no-repeat;
}

input[type="checkbox"]:checked + span {
	background: url("../images/turbo_box_red_.png") no-repeat;
}

.list_select{
	position: absolute;
	left: 1095px;
	top: 585px;
}


.list_bg {
	position: absolute;
	left: 1098px;
    top: 584px;
	padding: 0px;
	max-height: 0px;
	overflow: hidden;
	transition: all 2s;
 }

.list_content{
	position: relative;
	left: 1116px;
	top: -80px;
	list-style-type: none;
	max-height: 0px;
	overflow: hidden;
	transition: all 2s;
}

.button {
	opacity: 1;
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #ffffff;
	text-shadow: .07em .10em #710008;
	transition: opacity 2s linear;
}



.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}


.total_bet {
	width: 200px;
	position: absolute;
	left: 76px;
	top: 27px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	font-weight: bold;
	letter-spacing: 0.5px;
	color: #ffd100;
	text-shadow: .07em .10em #710008;
}

.coin {
	width: 200px;
	position: absolute;
	left: 247px;
	top: 27px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	font-weight: bold;
	letter-spacing: 0.5px;
	color: #ffd100;
	text-shadow: .07em .10em #710008;
}


.bottom_bar {
	margin-top: 446px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
